@import url("https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap");

#mobile {
  text-align: center;
  height: 100vh;
  width: 100%;
}
  
#nav-container-animation {
  display: -webkit-inline-box;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  background-color: #fff;
  padding: 0 20px;
  border-radius: 40px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
}

.nav-item-animation {
  color: #83818c !important;
  padding: 20px;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0 6px;
  z-index: 1;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  position: relative;
}
.nav-item-animation:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #dfe2ea !important;
  border-radius: 8px 8px 0 0;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav-item-animation:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}

.nav-item-animation:not(.is-active):hover {
  color: #333 !important;
}

.nav-indicator-animation {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  -webkit-transition: .4s;
  transition: .4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}